# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.project
.settings
.idea
.classpath
*.iml
out
lombok.config
src/main/resources/static/admin
src/main/resources/templates/admin/index.html